img{
    margin-left: 15%
}
.about{
    width: 90%;
    margin-left: 5%;
    text-align: center;
}
.about h2{
    font-size: 35px;
}
.about p{
    font-size: 20px;
}
.job{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px
}
.apply{
    width: 100px;
    height: 44px;
    font-size: 25px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: rgb(47, 47, 242);
}
.apply:hover{
    background-color: rgb(29, 29, 239);
    cursor: pointer;
}
.contact{
    width: 150px;
    height: 44px;
    font-size: 25px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: rgb(47, 47, 242);
    margin-left: 50%;
    cursor: pointer;
}